name: Deploy

on:
  push:
    branches:
      - main

env:
  DOCKER_IMAGE: ghcr.io/${{ github.actor }}/mfe-backend-deploy:latest

jobs:
  build:
    name: build-app
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Create application.yaml for CD Deploy
        run: |
          echo "${{ secrets.PRODUCTION_ENV }}" > .env

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: |
          ./gradlew clean build -x test

      - name: Docker build & push to prod
        run: |
          docker login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GHCR_TOKEN }}
          docker buildx create --name builder --use
          docker buildx build --platform linux/amd64,linux/arm64 \
            -f Dockerfile \
            -t ghcr.io/${{ github.actor }}/mfe-backend-deploy:latest \
            --push .
          docker logout

  deploy:
    needs: build
    name: Deploy
    runs-on: [ self-hosted, mfe-backend-deploy ]
    steps:
      - name: Pull and Deploy Container
        run: |
          echo "Starting MFE Backend Production Deployment"
          cd /home/ec2-user/mfe-backend-deploy
          docker-compose down

          echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker pull ${{ env.DOCKER_IMAGE }}

          docker image prune -f
          docker logout

          docker-compose up -d
